body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #D8D8D8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-block-start: 0 !important;
}
h5 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
.bp4-button-text{
  display: flex;
align-items: center;
  flex-direction: column;
  gap: 10px;
}